@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";


/* in index.css or a global CSS */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@keyframes animatedBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-border {
  background: linear-gradient(90deg, #00ff99, #00ccff, #ff00cc, #ff9900);
  background-size: 300% 300%;
  animation: animatedBorder 4s ease infinite;
}

.font-playfair {
  font-family: 'Playfair Display', ui-serif, Georgia, serif;
}